RewriteEngine On

# Agar so'rov mavjud fayl yoki papkaga bo'lmasa
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# public papkasiga yo'naltirish
RewriteRule ^(.*)$ public/$1 [L]